* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-size: 25px;
}

body {
    background: linear-gradient(0deg, rgba(242, 12, 212, 0) 0%, rgba(0, 0, 0, 0.75) 100%), url(../media/dollhouse.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

header div{
    display: flex;
    justify-content: space-between;
    color: antiquewhite;
    background: #00000075;
}
.wrapper {
    color: antiquewhite;
    height: 100vh;  
    display: grid;
    place-items: center;
}

.box {
    background: black;
    border-radius: 1em;
    padding: 2em;
}

form div {
    text-align: center;
}

section {
    background: black;
    width: 75vw;
    min-height: 75vh;
    border-radius: 1em;
}
section p {
    margin: 0.5em;
}

@media only screen and (min-width: 768px) {
    *{
        font-size: 20px;
    }
    
}

